body{
    margin: 0;
    padding: 0;

}
main {
    background:  hsl(257, 40%, 49%); 
    height: 105vh;
    background-image: url(images/bg-desktop.svg); 
    background-repeat: no-repeat;
    background-size: contain; 
    overflow: hidden; 
}


.paragrahp{
    color: white;
    font-size: 20px;
    width: 700px;
    position: relative;
    left: 1050px;
    top: -630px;
    font-family: 'Poppins', sans-serif;
    opacity: 70%;

}

.h1{
   color: white;
   font-size: 50px;
   position: relative;
   left: 1050px;
   top: -650px;
   width: 600px;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   
}

#button{
    height: 60px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    color: rgb(144, 94, 191);
    padding: 20px 90px;
    position: relative;
    left: 1050px;
    top: -570px;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 900px;
    cursor: pointer;
    width: 220px;
    transition: 0.3s;


}

#button:hover{
    background: hsl(300, 69%, 71%);
    color: hsl(257, 40%, 49%);
   
    
}

.Image{
   position: relative;
   left: 90px;
   width: 900px;
   top: 15px;

}



.header{
    padding: 80px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -250px;
    font-size: 20px;

}


.navigator{
    position: relative;
    left: 1600px;
}

span{
    border: 2px solid white;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    transition: 0.3s;
}

span:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
    

}

@media (max-width: 375px) and (min-width: 1440px){
    .container{
       display: grid;
       grid-template-columns: 1fr 1fr;
       background: black;
    }
    
    
    .paragrahp{
        color: white;
        font-size: 20px;
        width: 700px;
        position: relative;
        left: 1050px;
        top: -630px;
        font-family: 'Poppins', sans-serif;
        opacity: 70%;
    
    }
    
    .h1{
       color: white;
       font-size: 50px;
       position: relative;
       left: 1050px;
       top: -650px;
       width: 600px;
       font-family: 'Poppins', sans-serif;
       font-weight: bold;
       
    }
    
    #button{
        height: 60px;
        font-size: 20px;
        background: rgb(255, 255, 255);
        color: rgb(144, 94, 191);
        padding: 20px 90px;
        position: relative;
        left: 1050px;
        top: -570px;
        border-radius: 50px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 900px;
        cursor: pointer;
        width: 220px;
        transition: 0.3s;
    
    
    }
    
    #button:hover{
        background: hsl(300, 69%, 71%);
        color: hsl(257, 40%, 49%);
       
        
    }
    
    .Image{
       position: relative;
       left: 90px;
       width: 900px;
       top: 15px;
    
    }
    
    
    
    .header{
        padding: 20px;
    }
    
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -250px;
        font-size: 20px;
    
    }
    
    
    .navigator{
        position: relative;
        left: 1600px;
    }
    
    span{
        border: 2px solid white;
        color: white;
        padding: 10px;
        border-radius: 20px;
        margin: 5px;
        transition: 0.3s;
    }
    
    span:hover{
        color: hsl(300, 69%, 71%);
        border-color: hsl(300, 69%, 71%);
}
}
    